h1 {
    font-size: 48px;
    margin: 45px, 0;
    color: #2E7AD3;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin: 0 0 10px 0;
    color: #104C90;
}

p {
    font-size: 16px;
}

a {
    color: #ff8000;
    font-weight: bold;
}

.blog-post-card {
    background-color: #F1F1F1;
    width: 500px;
    margin: 0 auto;
    padding: 24px;
}

.read-more {
    margin: 0;
}