*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #404040;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
}

/*

Typography
*/
h1 {
  font-size: 2.25rem;
  margin: 0;
  color: #FFFF;
  margin: 2em 0;
  font-weight: 300;

}

h2 {
  font-size: 1.31rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

strong {
  font-weight: 900;
}


h2+p {
  margin-top: 0.5rem;
  font-weight: bold;
}

/*
LAYOUT
*/

.container {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}


.intro {
  background-image: url("./img/bbq-ribs.jpg");
  background-size: cover;
  background-color: black;
  justify-content: space-between;
  padding: 0 2rem;
}

.intro>p {
  font-weight: bold;
}

.top-text {
  margin: 0;
  order: -1;
  letter-spacing: 1.5px;
  border-top: 30px solid magenta;
  /* better use span than apply style to <p>*/
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.main-content {
  padding: 1rem 2rem;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/*
Utils
*/

.text-to-upper-case {
  text-transform: uppercase;
}

.secondary-color {
  color: #F18119;
}

.light-text {
  font-weight: lighter;
}

/*
Media query with size bigger than 650px
*/

@media (min-width: 650px) {
  body {
    display: flex;
    min-height: 100vh;
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .main-content,
  .intro {
    width: 50%;

  }

  .main-content {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .intro {
    justify-content: unset;
  }
}